/* realiza degrade de la imagen */
.degrade{
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

/* miestra la imagen sin desconfigurarla */
@media(max-width: 560px){
    .degrade{
        /* width: auto; */
        height: 400px;
        object-fit: none;
    }
}