.card{
    list-style: none;    
}

.cardImage{
    border-radius: 5px;
    background-color: azure;
    vertical-align: middle;
    max-width: 100%;
}

.gird{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 10px;
    padding: 40px;
    justify-content: center;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.card a:hover {
    text-decoration: none;
    color: aqua;
    opacity: 0.5;
}

.letters{
    font-size: 0.8rem;
    text-align: center;
}

.letters1{
    font-size: 0.7rem;
    text-align: center;
}


@media(max-width: 560px){
    .card{
        font-size: 100%;
    }
    .cardImage{
        width: 90%;
        height: auto;
    }
    .gird{
        grid-template-columns: 100%;
    }
}